<!-- end::App Content Header -->
<section class="content">
    <div class="app-content">
        <div class="container-fluid card">
            <div class="card-header">
                <h2 class="headline text-yellow"><i class="bi bi-exclamation-diamond-fill text-warning"></i> <%-
                        messages.status -%></h2>
            </div>

            <div class="error-content card-body">
                <h3><%- messages.pageTitle -%></h3>
                <p>
                    <%- messages.text -%>
                </p>

            </div>
</section>