title #{title}

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")

link(rel='icon' type='image/x-icon' href='/favicon.ico')
link(rel='stylesheet' type="text/css" href='/static/adminlte/css/adminlte.min.css')
link(rel='stylesheet' type="text/css" href='/static/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' type="text/css" href='/static/fontawesome/css/all.min.css')
link(rel='stylesheet' type="text/css" href='/static/bootstarpicons/bootstrap-icons.min.css')
link(rel='stylesheet' type="text/css" href='/static/apexcharts/apexcharts.css')
link(rel='stylesheet' type="text/css" href='/static/jsvectormap/css/jsvectormap.min.css')

link(rel='stylesheet' type="text/css" href='/static/overlayscrollbars/styles/overlayscrollbars.min.css')

