<!-- body.ejs -->

<!-- <body class="layout-fixed sidebar-expand-lg sidebar-mini sidebar-collapse bg-body-tertiary dark-mode"> -->


<div class="app-main content-wrapper elevation-4">
    <!-- begin::App Content Header -->
    <section class="content-header">
        <div class="app-content-header">
            <!-- begin::Container -->
            <div class="container-fluid">
                <!-- begin::Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0"><%- name -%></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <% for (const breadcrumb of breadcrumbs) { %>
                                <% if (breadcrumb.url) { %>
                                    <li class="breadcrumb-item"><a href="<%= breadcrumb.url %>">
                                            <%= breadcrumb.label %>
                                        </a></li>
                                    <% } else { %>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <%= breadcrumb.label %>
                                        </li>
                                        <% } %>
                                            <% } %>
                        </ol>
                    </div>
                </div>
                <!-- end::Row -->
            </div>
            <!-- end::Container -->
        </div>
    </section>
