<!-- end::App Content Header -->
<section class="content ">
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                Toasts Examples <small>built in AdminLTE</small>
                            </h3>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-default toastsDefaultDefault">
                                Launch Default Toast
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultFull1">
                                Launch Full Toast (with icon)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultFullImage">
                                Launch Full Toast (with image)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultAutohide">
                                Launch Default Toasts with autohide
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultNotFixed">
                                Launch Default Toasts with not fixed
                            </button>
                            <br>
                            <br>
                            <button type="button" class="btn btn-default toastsDefaultTopLeft">
                                Launch Default Toast (topLeft)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultBottomRight">
                                Launch Default Toast (bottomRight)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultBottomLeft">
                                Launch Default Toast (bottomLeft)
                            </button>
                            <br>
                            <br>
                            <button type="button" class="btn btn-success toastsDefaultSuccess">
                                Launch Success Toast
                            </button>
                            <button type="button" class="btn btn-info toastsDefaultInfo">
                                Launch Info Toast
                            </button>
                            <button type="button" class="btn btn-warning toastsDefaultWarning">
                                Launch Warning Toast
                            </button>
                            <button type="button" class="btn btn-danger toastsDefaultDanger">
                                Launch Danger Toast
                            </button>
                            <button type="button" class="btn btn-default bg-maroon toastsDefaultMaroon">
                                Launch Maroon Toast
                            </button>
                            <div class="text-muted mt-3">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card card-primary card-outline">

                        <% if (session.isAuthenticated) { %>
                            <h3>
                                <%= t('welcomeMessage') %>
                            </h3>
                            <p>
                                <%= t('greeting', { name: session.user.username }) %>
                            </p>
                            <% } else { %>
                                <p>Пожалуйста, войдите в систему.</p>
                                <% } %>
                                    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live
                                        toast</button>
                                    <button type="button" class="btn btn-primary" id="showToastBtn">Show Toast</button>

                                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                        <div id="liveToast" class="toast bg-danger fade show" role="alert"
                                            aria-live="assertive" aria-atomic="true">
                                            <div class="toast-header">
                                                <img src="" class="rounded me-2" alt="...">
                                                <strong class="me-auto">Bootstrap</strong>
                                                <small>11 mins ago</small>
                                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="toast-body">
                                                Hello, world! This is a toast message.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="mr-auto">Toast Heading</strong>
                                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="toast-body">
                                            Toast content goes here.
                                        </div>
                                    </div>


                    </div> -->
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                Toasts Examples <small>built in AdminLTE</small>
                            </h3>
                        </div>
                        <div class="card-body">
                            <!-- <button type="button" class="btn btn-default toastsDefaultDefault">
                                Launch Default Toast
                            </button> -->
                            <button type="button" class="btn btn-default toastsDefaultFull">
                                Launch Full Toast (with icon)
                            </button>
                            <!-- <button type="button" class="btn btn-default toastsDefaultFullImage">
                                Launch Full Toast (with image)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultAutohide">
                                Launch Default Toasts with autohide
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultNotFixed">
                                Launch Default Toasts with not fixed
                            </button>
                            <br>
                            <br>
                            <button type="button" class="btn btn-default toastsDefaultTopLeft">
                                Launch Default Toast (topLeft)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultBottomRight">
                                Launch Default Toast (bottomRight)
                            </button>
                            <button type="button" class="btn btn-default toastsDefaultBottomLeft">
                                Launch Default Toast (bottomLeft)
                            </button>
                            <br>
                            <br>
                            <button type="button" class="btn btn-success toastsDefaultSuccess">
                                Launch Success Toast
                            </button>
                            <button type="button" class="btn btn-info toastsDefaultInfo">
                                Launch Info Toast
                            </button>
                            <button type="button" class="btn btn-warning toastsDefaultWarning">
                                Launch Warning Toast
                            </button>
                            <button type="button" class="btn btn-danger toastsDefaultDanger">
                                Launch Danger Toast
                            </button>
                            <button type="button" class="btn btn-default bg-maroon toastsDefaultMaroon">
                                Launch Maroon Toast
                            </button> -->
                            <div class="text-muted mt-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toast-container" class="position-fixed top-1 end-0 p-3"></div>

    <script>
       
    </script>